* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font: 16px;
}

header {
    padding: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    color: #ffffff;
    font-size: 48px;
}
  /*renamed header .seo to more specificially target the h1 element*/
  header h1 span {
    color: #d9dcd6;
}

header nav {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 0;
}

header nav ul li {
    display: inline;
    padding: 20px;
  }



header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*renamed anchor element to reflect what it is changing on page in nav header*/
.nav-header {
    color: #ffffff;
    text-decoration: none;
}

.hero-image {
    background-image: url("../images/digital-marketing-meeting.jpg");
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/*MAIN CONTENT 75% to the left*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*created new selector to combine main section text into one selector*/
.content .features {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*combined multiple img selectors into one content selector*/
.content img{
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #ffffff
}

/*SECONDARY CONTENT 20% to the right*/
.benefits {
    margin: 0 20px 20px 0;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/*combined multiple selectors into single h3 selector*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*combined multiple images into single img selector*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*combined multiple article elements into single selector*/
.benefits article {
    margin-bottom: 32px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}